[submodule "zms-base"]
	path = zms-base
	url = git@github.com:idasm-unibe-ch/zms-base.git
	branch = main
[submodule "zms-core"]
	path = zms-core
	url = git@github.com:zms-publishing/ZMS.git
	branch = main
[submodule "zms-addons"]
	path = zms-addons
	url = git@github.com:idasm-unibe-ch/zms-addons.git
