annotated-doc-0.0.4
anyio==4.12.1
anytree==2.13.0
asttokens==2.4.1
click==8.3.1
devtools==0.12.2
executing==2.2.1
fastapi==0.128.0
h11==0.16.0
httptools==0.7.1
ics==0.7.2
markitdown==0.0.2
pandas==3.0.0
psycopg2==2.9.11
pydantic==2.12.5
python-dotenv==1.2.1
PyYAML==6.0.3
rich==14.2.0
shellingham==1.5.4
sniffio==1.3.1
SQLAlchemy==2.0.45
sqlmodel==0.0.31
starlette==0.50.0
tabulate==0.9.0
typer==0.21.1
typing_extensions==4.15.0
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
xlsxwriter==3.2.9
