anyio==3.6.1
anytree==2.8.0
asttokens==2.0.8
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
devtools==0.9.0
executing==0.10.0
fastapi==0.85.0
greenlet==1.1.3
h11==0.13.0
httptools==0.5.0
idna==3.3
psycopg2-binary==2.9.3
pydantic==1.10.2
Pygments==2.13.0
python-dotenv==0.21.0
PyYAML==6.0
rich==12.5.1
shellingham==1.5.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a27
sqlmodel==0.0.8
starlette==0.20.4
typer==0.6.1
typing_extensions==4.3.0
uvicorn==0.18.3
uvloop==0.17.0
watchfiles==0.17.0
websockets==10.3
