AccessControl==7.3
Acquisition==6.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
anytree==2.13.0
arrow==1.4.0
asttokens==2.4.1
attrs==26.1.0
AuthEncoding==6.0
azure-core==1.39.0
azure-identity==1.25.3
babel==2.18.0
beautifulsoup4==4.14.3
BTrees==6.3
certifi==2026.2.25
cffi==2.0.0
Chameleon==4.6.0
chardet==7.4.1
charset-normalizer==3.4.4
click==8.3.2
cryptography==46.0.7
DateTime==6.0
defusedxml==0.7.1
devtools==0.12.2
dnspython-2.8.0
DocumentTemplate==5.3
email-validator-2.3.0
Events==0.5
executing==2.2.1
ExtensionClass==6.2
fastapi==0.135.3
five.localsitemanager==5.0
flatbuffers==25.12.19
frozenlist==1.8.0
ftfy==6.3.1
grpcio==1.80.0
h2==4.3.0
h11==0.16.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
ics==0.7.2
idna==3.11
importlib_metadata==8.7.1
legacy-cgi==2.6.4
lxml==6.0.3
markdown-it-py==4.0.0
Markdown==3.10.2
markdownify==1.2.2
markitdown==0.0.2
mdurl==0.1.2
microsoft-kiota-abstractions==1.10.1
microsoft-kiota-authentication-azure==1.10.1
microsoft-kiota-http==1.10.1
microsoft-kiota-serialization-form==1.10.1
microsoft-kiota-serialization-json==1.10.1
microsoft-kiota-serialization-multipart==1.10.1
microsoft-kiota-serialization-text==1.10.1
Missing==5.0
mpmath==1.3.0
msal-extensions==1.3.1
msal==1.36.0
msgraph-core==1.3.8
msgraph-sdk==1.55.0
multidict==6.7.1
MultiMapping==5.1
multipart==1.3.1
numpy==2.4.4
oauthlib==3.3.1
onnxruntime==1.24.4
opensearch-protobufs==0.19.0
opensearch-py==3.1.0
opentelemetry-api==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
outcome==1.3.0.post0
packaging==26.0
pandas==3.0.2
PasteDeploy==3.1.0
pdfminer.six==20260107
Persistence==5.4
persistent==6.5
Products.ExternalMethod==6.1
Products.GenericSetup==5.1.0
Products.mcdutils==5.1
Products.PluggableAuthService==4.1
Products.PluginRegistry==3.1
Products.PythonScripts==5.2
Products.Sessions==6.2
Products.StandardCacheManagers==6.1
Products.ZCatalog==7.3
Products.ZSQLMethods==5.1
propcache==0.4.1
protobuf==7.34.1
psycopg2==2.9.11
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydevd-pycharm==261.22158.340
Pygments==2.19.2
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-gettext==5.0
python-memcached==1.62
pytz==2026.1.post1
PyYAML==6.0.3
Record==4.2
requests-oauthlib==2.0.0
requests==2.32.5
RestrictedPython==8.1
rich==14.3.4
roman==5.2
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.49
sqlmodel==0.0.38
starlette==1.0.0
std-uritemplate==2.0.8
sympy==1.14.0
tabulate==0.10.0
TatSu==5.13.1
transaction==5.0
trio==0.33.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
uvicorn==0.44.0
uvloop==0.22.1
waitress==3.0.2
watchfiles==1.1.1
wcwidth==0.6.0
WebOb==1.8.9
websockets==16.0
WebTest==3.0.7
WSGIProxy2==0.5.1
xlsxwriter==3.2.9
xmltodict==1.0.4
yarl==1.23.0
z3c.pt==5.1
zc.lockfile==4.0
ZConfig==4.3
zdaemon==5.2.1
ZEO==6.1
zExceptions==6.0
zipp==3.23.0
ZODB==6.2
zodbpickle==4.3
zodburi==3.0.0
zope.annotation==6.0
zope.browser==4.0
zope.browsermenu==6.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.component==7.1
zope.configuration==7.0
zope.container==7.2
zope.contentprovider==7.0
zope.contenttype==6.0
zope.datetime==6.0
zope.deferredimport==6.1.1
zope.deprecation==6.0
zope.dottedname==7.1
zope.event==6.1
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.globalrequest==3.0
zope.hookable==8.2
zope.i18n==6.0
zope.i18nmessageid==8.2
zope.interface==8.2
zope.lifecycleevent==6.0
zope.location==6.0
zope.pagetemplate==6.1
zope.processlifetime==4.0
zope.proxy==7.1
zope.ptresource==6.0
zope.publisher==8.0
zope.schema==8.1
zope.security==8.3
zope.sequencesort==6.0
zope.site==6.0
zope.size==6.0
zope.structuredtext==6.0
zope.tal==6.0
zope.tales==7.0
zope.testbrowser==8.0
zope.testing==6.1
zope.traversing==6.0
zope.viewlet==6.0
Zope==6.0
