# Pinned for Zope-6.1
# https://raw.githubusercontent.com/zopefoundation/Zope/refs/tags/6.1/constraints.txt
AccessControl==7.3
Acquisition==6.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
anytree==2.13.0
arrow==1.4.0
asttokens==2.4.1
attrs==26.1.0
audioop-lts==0.2.2
AuthEncoding==6.0
azure-ai-documentintelligence==1.0.2
azure-core==1.39.0
azure-identity==1.25.3
babel==2.18.0
beautifulsoup4==4.14.3
BTrees==6.3
certifi==2026.2.25
cffi==2.0.0
Chameleon==4.6.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.3
cobble==0.1.4
configparser==7.2.0
cryptography==47.0.0
DateTime==6.0
defusedxml==0.7.1
devtools==0.12.2
distro==1.9.0
dnspython==2.8.0
DocumentTemplate==5.3
docutils==0.22.4
email-validator==2.3.0
et_xmlfile==2.0.0
Events==0.5
executing==2.2.1
ExtensionClass==6.2
fastapi==0.136.1
fastapi-cli==0.0.24
fastapi-cloud-cli==0.17.1
fastar==0.11.0
five.localsitemanager==5.0
frozenlist==1.8.0
ftfy==6.3.1
grpcio==1.80.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
ics==0.7.3
idna==3.12
importlib_metadata==8.7.1
isodate==0.7.2
Jinja2==3.1.6
jiter==0.14.0
legacy-cgi==2.6.4
lxml==6.1.0
mammoth==1.12.0
Markdown==3.10.2
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.0.2
MarkupSafe==3.0.3
mdurl==0.1.2
microsoft-kiota-abstractions==1.10.1
microsoft-kiota-authentication-azure==1.10.1
microsoft-kiota-http==1.10.1
microsoft-kiota-serialization-form==1.10.1
microsoft-kiota-serialization-json==1.10.1
microsoft-kiota-serialization-multipart==1.10.1
microsoft-kiota-serialization-text==1.10.1
Missing==5.1
msal==1.36.0
msal-extensions==1.3.1
msgraph-core==1.3.8
msgraph-sdk==1.56.0
multidict==6.7.1
MultiMapping==5.1
multipart==1.3.1
numpy==2.4.4
oauthlib==3.3.1
olefile==0.47
openai==2.32.0
openpyxl==3.1.5
opensearch-protobufs==1.2.0
opensearch-py==3.2.0
opentelemetry-api==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
outcome==1.3.0.post0
packaging==26.1
pandas==3.0.2
Paste==3.10.1
PasteDeploy==3.1.0
pathvalidate==3.3.1
pdfminer.six==20260107
Persistence==5.4
persistent==6.5
pillow==12.2.0
Products.BTreeFolder2==6.0
Products.CMFCore==3.9
Products.ExternalMethod==6.1
Products.GenericSetup==5.1.0
Products.MailHost==6.1
Products.mcdutils==5.1
Products.PluggableAuthService==4.1
Products.PluginRegistry==3.1
Products.PythonScripts==5.2
Products.Sessions==6.2
Products.SiteErrorLog==7.0
Products.StandardCacheManagers==6.1
Products.TemporaryFolder==8.1
Products.ZCatalog==7.3
Products.ZODBMountPoint==3.0
Products.ZSQLMethods==5.1
propcache==0.4.1
protobuf==7.34.1
psycopg2==2.9.12
puremagic==2.2.0
pycparser==3.0
pydantic==2.13.3
pydantic-extra-types==2.11.1
pydantic-settings==2.14.0
pydantic_core==2.46.3
pydub==0.25.1
Pygments==2.20.0
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-gettext==5.0
python-memcached==1.62
python-multipart==0.0.27
python-pptx==1.0.2
pytz==2026.1.post1
PyYAML==6.0.3
Record==4.2
requests==2.33.1
requests-oauthlib==2.0.0
RestrictedPython==8.1
rich==15.0.0
rich-toolkit==0.19.7
rignore==0.7.6
roman==5.2
ruamel.yaml==0.19.1
sentry-sdk==2.58.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
SpeechRecognition==3.16.1
SQLAlchemy==2.0.49
sqlmodel==0.0.38
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==1.0.0
std-uritemplate==2.0.8
tabulate==0.10.0
TatSu==5.15.1
tempstorage==6.0
tqdm==4.67.3
transaction==5.1
trio==0.33.0
typer==0.25.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.46.0
uvloop==0.22.1
waitress==3.0.2
watchfiles==1.1.1
wcwidth==0.6.0
WebOb==1.8.9
websockets==16.0
WebTest==3.0.7
wheel==0.47.0
WSGIProxy2==0.5.1
xlrd==2.0.2
xlsxwriter==3.2.9
xmltodict==1.0.4
yarl==1.23.0
youtube-transcript-api==1.2.4
z3c.pt==5.1
zc.lockfile==4.0
ZConfig==4.3
zdaemon==5.2.1
ZEO==6.2
zExceptions==6.0
zipp==3.23.1
ZODB==6.3
zodbpickle==4.3
zodburi==3.0.0
zope.annotation==6.0
zope.app.publication==6.0
zope.authentication==6.0
zope.browser==4.0
zope.browsermenu==6.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.component==7.1
zope.configuration==7.1
zope.container==7.2
zope.contentprovider==7.0
zope.contenttype==6.0
zope.datetime==6.0
zope.deferredimport==6.1.1
zope.deprecation==6.0
zope.dottedname==7.1
zope.error==6.0
zope.event==6.1
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.globalrequest==3.0
zope.hookable==8.2
zope.i18n==6.0
zope.i18nmessageid==8.2
zope.interface==8.3
zope.lifecycleevent==6.0
zope.location==6.0
zope.pagetemplate==6.1
zope.processlifetime==4.0
zope.proxy==7.1
zope.ptresource==6.0
zope.publisher==8.0
zope.schema==8.1
zope.security==8.3
zope.sendmail==7.1
zope.sequencesort==6.0
zope.site==6.0
zope.size==6.0
zope.structuredtext==6.0
zope.tal==6.0
zope.tales==7.0
zope.testbrowser==8.0
zope.testing==6.1
zope.traversing==6.0
zope.untrustedpython==7.0
zope.viewlet==6.0
Zope==6.1
ZopeUndo==6.1
