# TODO checkout from unibe-git via ssh in container?!?
#git+ssh://git@id-code.unibe.ch:7999/idcms/zms4-clone.git@zms-headless#egg=ZMS

# branch zms-headless is injected into container - see Dockerfile ADD command
./zms-headless

Flask

# Flask-ZODB==0.1 (py2 only)
# Flask-ZODB==0.2dev (py2+p3)
git+https://github.com/SpotlightKid/flask-zodb@master#egg=Flask-ZODB

Flask-JWT-Extended
Flask-RESTful
Flask-SQLAlchemy

python-dotenv

# TODO run with production-ready application server
#gunicorn
