Flask
Flask-RESTful
Flask-RESTX

file:///app/flask-zodb
file:///app/zms-headless

Flask-Caching
pylibmc==1.6.1  # Prerequisite: libmemcached

Flask-JWT-Extended
Flask-SQLAlchemy

Flasgger

anytree
python-dotenv
requests
gunicorn
