FastAPI             # https://fastapi.tiangolo.com
SQLModel            # https://sqlmodel.tiangolo.com
pydantic            # https://pydantic-docs.helpmanual.io

requests            # https://requests.readthedocs.io

psycopg2            # https://www.psycopg.org/docs/install.html#psycopg-vs-psycopg-binary => libpq-dev required to build from source
zodburi             # https://docs.pylonsproject.org/projects/zodburi/en/latest/

uvicorn[standard]   # https://www.uvicorn.org

typer[all]          # https://typer.tiangolo.com
devtools[pygments]  # https://python-devtools.helpmanual.io/usage/#usage-without-import

anytree             # https://anytree.readthedocs.io
ics                 # https://github.com/ics-py/ics-py
xmltodict           # https://github.com/martinblech/xmltodict

file:///app/zms-headless
