Flask

# Flask-ZODB==0.1 (py2 only)
# Flask-ZODB==0.2dev (py2+p3)
git+https://github.com/SpotlightKid/flask-zodb@master#egg=Flask-ZODB

Flask-JWT-Extended
Flask-RESTful
Flask-RESTX
Flask-SQLAlchemy

Flasgger

anytree

python-dotenv
requests
gunicorn
