Flask==1.1.2

# Flask-ZODB==0.1 (py2 only)
# Flask-ZODB==0.2dev (py2+p3)
git+https://github.com/SpotlightKid/flask-zodb@master#egg=Flask-ZODB

Flask-JWT-Extended==4.2.0
Flask-RESTful==0.3.8
Flask-RESTX==0.3.0
Flask-SQLAlchemy==2.5.1

Flasgger==0.9.5

anytree==2.8.0

python-dotenv==0.17.1
requests==2.25.1
gunicorn==20.1.0
