anytree                         # https://anytree.readthedocs.io
azure-identity                  # https://pypi.org/project/azure-identity/
babel                           # https://github.com/python-babel/babel
beautifulsoup4                  # https://beautiful-soup-4.readthedocs.io/en/latest/
chardet                         # https://github.com/chardet/chardet
devtools                        # https://python-devtools.helpmanual.io/install/
ftfy                            # https://github.com/rspeer/python-ftfy
ics                             # https://github.com/ics-py/ics-py
python-dotenv                   # https://github.com/theskumar/python-dotenv
lxml                            # https://github.com/lxml/lxml
Markdown                        # https://github.com/Python-Markdown/markdown
msgraph-sdk                     # https://github.com/microsoftgraph/msgraph-sdk-python
opensearch-py                   # https://github.com/opensearch-project/opensearch-py
pdfminer.six                    # https://github.com/pdfminer/pdfminer.six
Products.mcdutils>=3.2          # https://github.com/dataflake/Products.mcdutils
Products.PluggableAuthService   # https://github.com/zopefoundation/Products.PluggableAuthService
Products.PluginRegistry         # https://github.com/zopefoundation/Products.PluginRegistry
Products.ZSQLMethods            # https://github.com/zopefoundation/Products.ZSQLMethods
psycopg2                        # https://www.psycopg.org/docs/install.html#psycopg-vs-psycopg-binary
pydantic                        # https://pydantic-docs.helpmanual.io
pydevd-pycharm~=252.23892.515   # https://www.jetbrains.com/help/pycharm/remote-debugging-with-product.html -> Debugger for PyCharm 2025.2.0.1 built on August 11, 2025
requests                        # https://requests.readthedocs.io
requests-oauthlib               # https://github.com/requests/requests-oauthlib
rich                            # https://github.com/Textualize/rich
SQLAlchemy                      # https://www.sqlalchemy.org/
SQLModel                        # https://sqlmodel.tiangolo.com
trio                            # https://github.com/python-trio/trio -> see https://github.com/idasm-unibe-ch/zms-base/issues/5
typer[all]                      # https://typer.tiangolo.com
xmltodict                       # https://github.com/martinblech/xmltodict
zeo                             # https://github.com/zopefoundation/ZEO
zodburi                         # https://docs.pylonsproject.org/projects/zodburi/en/latest/
